# URL base del portal de ArcGIS
VITE_ARCGIS_PORTAL_URL=https://www.arcgis.com

# ID del grupo de ArcGIS Online que contiene el catálogo oficial
VITE_GROUP_ID=244695359f1d45c4862ed0508d64a335

# Servicio de impresion de ArcGIS usado por el widget Print
VITE_PRINT_SERVICE_URL=https://utility.arcgisonline.com/arcgis/rest/services/Utilities/PrintingTools/GPServer/Export%20Web%20Map%20Task
